.nav-link >span:hover {
     color: rgb(227, 4, 4);
    text-shadow: 7px 7px 6px rgba(217, 124, 124, 0.4);
   
  }

  .navbar-brand >span:hover {
    color: rgb(227, 4, 4);
   text-shadow: 5px 5px 4px rgba(217, 124, 124, 0.4);
  }


 .user-options {
  position: absolute;
  top: 100%; 
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  z-index: 2;
}

.user-options .item {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Adjust the spacing between items as needed */
  cursor: pointer;
}

.user-options .item span {
  margin-left: 8px; /* Adjust the spacing between icon and text as needed */
}
.user-profile img{
  border-radius: 0.7vmax;
}

.user-profile:hover .user-options {
  display: block;
}

.user-profile:hover {
  border: 2px solid #4CAF50;  /* Change the border color as needed */
  background-color: #f8f8f8; 
}



@media screen and (max-width: 600px) { 
  
  #dropdown{
    background-color: rgb(233 238 236);
    z-index: 1;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }
  .navbar-nav > li {
    margin: 0.2rem 0;
  }
  .navbar-brand {
    text-align: center;
  }
  .navbar-toggler {
    order: 1;
  }
  .navbar-collapse {
    flex-basis: 100%;
    order: 3;
  }


}